body {
  background-color: #fff;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #000; }

*,
*:before,
*:after {
  box-sizing: border-box; }

a, button {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease-in-out; }

input {
  outline: none; }

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-weight: normal; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

p {
  padding: 0;
  margin: 0; }

img {
  vertical-align: bottom; }

.btn {
  background: #3ea9f5;
  border: 1px solid #78c0f5;
  border-radius: 25px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  padding: 10px 25px; }

.main {
  position: relative;
  background: url("../img/bg.jpg") repeat-y top center; }

.section {
  min-height: 100vh;
  padding: 100px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }
  .section.hide {
    display: none; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 15px;
  text-align: center; }
  .header__logo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; }
    .header__logo a {
      display: block;
      border-right: 1px solid #fff; }
      .header__logo a:last-child {
        border: none; }
    .header__logo img {
      height: 32px; }

.title {
  text-align: center;
  font-size: 50px;
  color: #e30517;
  font-weight: 700; }

.first-sect .container {
  text-align: center; }

.first-sect .title {
  margin-bottom: 50px; }

.first-sect__image {
  margin-bottom: 40px; }

.second-sect .container {
  text-align: center; }

.snowman {
  position: relative;
  width: 351px;
  margin: 0 auto;
  padding-bottom: 100px; }
  .snowman__title {
    font-size: 27px;
    color: #ff0015;
    font-weight: 900;
    padding: 20px 15px;
    background: #fff;
    border-radius: 25px;
    margin-bottom: 70px;
    position: relative;
    opacity: 1;
    transition: opacity .3s ease-in-out; }
    .snowman__title.hide {
      opacity: 0; }
    .snowman__title:before {
      content: "";
      position: absolute;
      top: 100%;
      left: 60px;
      width: 32px;
      height: 34px;
      margin-top: -3px;
      background: url("../img/1.png") no-repeat center;
      background-size: cover; }
  .snowman__image {
    cursor: pointer; }
  .snowman__balls {
    width: 530px;
    position: absolute;
    bottom: 0;
    left: 50%;
    -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    height: 76px; }

.snowball {
  position: absolute;
  opacity: 0;
  transition: opacity .3s ease-in-out; }
  .snowball--first {
    top: 0;
    left: 0; }
    .snowball--first.show {
      opacity: 1;
      animation: snowball1 1s ease-in-out; }
  .snowball--second {
    top: 0;
    left: 150px; }
    .snowball--second.show {
      opacity: 1;
      animation: snowball2 1s ease-in-out; }
  .snowball--third {
    top: 0;
    right: 150px; }
    .snowball--third.show {
      opacity: 1;
      animation: snowball3 1s ease-in-out; }
  .snowball--fourth {
    top: 0;
    right: 0; }
    .snowball--fourth.show {
      opacity: 1;
      animation: snowball4 1s ease-in-out; }

@keyframes snowball1 {
  0% {
    top: -500px;
    left: 50%; }
  100% {
    top: 0;
    left: 0; } }

@keyframes snowball2 {
  from {
    top: -500px;
    left: 50%; }
  to {
    top: 0;
    left: 150px; } }

@keyframes snowball3 {
  from {
    top: -500px;
    right: 50%; }
  to {
    top: 0;
    right: 150px; } }

@keyframes snowball4 {
  from {
    top: -500px;
    right: 50%; }
  to {
    top: 0;
    right: 0; } }

.prize-btn {
  background: transparent;
  border: 1px solid #3ea9f5;
  color: #3ea9f5;
  font-size: 16px;
  padding: 15px 20px 15px 50px;
  border-radius: 25px;
  position: absolute;
  bottom: 115px;
  right: 50px;
  visibility: hidden;
  opacity: 0; }
  .prize-btn.show {
    visibility: visible;
    opacity: 1; }
  .prize-btn:before {
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 6.5px 0 6.5px;
    border-color: #fff transparent transparent transparent; }

.prize {
  display: none;
  text-align: center; }
  .prize__title {
    font-size: 22px;
    color: #ff0000;
    font-weight: 900;
    margin-bottom: 5px; }
  .prize__subtitle {
    font-size: 16px;
    color: #ff0000;
    margin-bottom: 10px; }
  .prize__text {
    text-align: left;
    font-size: 12px;
    margin-bottom: 30px; }
  .prize__image {
    max-width: 100%; }

.my-shake {
  display: none; }

.snowman__image2,
.snowman__image3,
.snowman__image4,
.snowman__image5 {
  display: none; }

.snowman__image,
.first-sect__image {
  height: 200px;
  width: auto; }

.popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s ease-in-out; }
  .popup-bg.show {
    visibility: visible;
    opacity: 1; }

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  width: 730px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s ease-in-out; }
  .popup.show {
    visibility: visible;
    opacity: 1; }
  .popup__info {
    background: #FFF;
    padding: 115px 70px 30px;
    border-radius: 25px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4); }
  .popup__image {
    margin-bottom: -100px; }
  .popup__title {
    font-size: 34px;
    font-family: "Kievitpro-Light", sans-serif;
    margin-bottom: 20px; }
  .popup__input {
    width: 100%;
    font-size: 50px;
    border: none;
    background: #fff;
    margin-bottom: 30px;
    text-align: center; }
  .popup__btn {
    background: #3ea9f5;
    border: 3px solid #92caf5;
    border-radius: 100px;
    color: #fff;
    font-family: 'Kievitpro-Bold', sans-serif;
    padding: 20px 40px;
    font-size: 32px; }

.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  -ms-transform: scale(0.8);
  transform: scale(0.8); }

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -ms-transform: scale(1);
  transform: scale(1); }

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0; }

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: opacity 0.3s ease-out; }

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8; }

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0; }
