@media (max-width: 1199px) {
    .snowball img {
        width: 58px
    }
    .snowman__balls {
        width: 400px
    }
    .snowball--second {
        top: 0;
        left: 110px
    }
    .snowball--third {
        top: 0;
        right: 110px
    }
    @keyframes snowball2 {
        from {
            top: -500px;
            left: 50%
        }
        to {
            top: 0;
            left: 110px
        }
    }
    @keyframes snowball3 {
        from {
            top: -500px;
            right: 50%
        }
        to {
            top: 0;
            right: 110px
        }
    }
}
@media (max-width: 991px) {
    .prize-btn {
        bottom: 30px;
        right: auto;
        left: 50%;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%)
    }
    .popup__image {
        width: 150px;
        margin-bottom: -60px
    }
}
@media (max-width: 767px) {
    .popup {
        width: 300px
    }
    .popup__info {
        padding: 70px 15px 30px
    }
    .popup__title {
        font-size: 24px
    }
    .popup__input {
        font-size: 24px
    }
    .popup__btn {
        font-size: 18px
    }
    .header {
        padding: 10px 15px
    }
    .section {
        padding: 60px 0
    }
    .title {
        font-size: 26px
    }
    .first-sect .title {
        margin-bottom: 20px
    }
    .first-sect__image,
  .snowman__image,
  .snowman__image2,
  .snowman__image3,
  .snowman__image4,
  .snowman__image5 {
        /*width: 80%;*/
        max-width: 313px
    }
    .snowman {
        width: 100%;
        padding-bottom: 50px
    }
    .snowman__title {
        font-size: 18px;
        padding: 10px 15px;
        width: 200px;
        margin: 0 auto 30px
    }
    .snowman__title:before {
        width: 18px;
        height: 20px;
        left: 30px
    }
    .snowball img {
        width: 40px
    }
    .snowman__balls {
        height: 50px;
        width: 270px
    }
    .snowball--second {
        top: 0;
        left: 75px
    }
    .snowball--third {
        top: 0;
        right: 75px
    }
    @keyframes snowball2 {
        from {
            top: -500px;
            left: 50%
        }
        to {
            top: 0;
            left: 75px
        }
    }
    @keyframes snowball3 {
        from {
            top: -500px;
            right: 50%
        }
        to {
            top: 0;
            right: 75px
        }
    }
    .prize-btn {
        padding: 10px 15px 10px 50px;
        bottom: 20px
    }
    .prize-btn:before {
        border-color: #3ea9f5 transparent transparent transparent;
        top: 15px
    }
}
