/*Модальное окно по центру (по высоте)*/
.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
/*----------------------------------*/


/*Выноски на bootstrap */
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

.ul-callout-danger{
    color: #d9534f;
}
.ul-callout-warning{
    color: #f0ad4e;
}
.ul-callout-info {
    color: #5bc0de;
}
/**************************/

/***** Выпадающее меню кнопки bootstrap показывать поверх области (таблицы) ***/
.btn-group {
    white-space: nowrap;
}
.btn-group .btn {
    float: none;
    display: inline-block;
}
.btn + .dropdown-toggle {
    margin-left: -4px;
}

.table-responsive {
    overflow-x: visible !important;
    overflow-y: visible !important;
}
/*********************************************************************/