#image_load_skins, #image_load_informations_home,
#image_load_informations_preview, #image_load_team1,
#image_load_team2, #image_load_team3, #image_load_press,
#image_load_background_slide, #image_load_product, #image_load_banner {
    overflow: hidden;
    cursor: pointer;
    background: #f8f8f8;
    color: #484848;
    border: 1px solid #d1d1d1;
    padding: 0;
    margin: 0;
}

#image_load_team1 img, #image_load_team2 img,
#image_load_team3 img, #image_load_skins img,
#image_load_informations_home img,
#image_load_informations_preview img,
#image_load_press img, #image_load_background_slide img,
#image_load_product img, #image_load_banner img {
    visibility: hidden;
}
textarea { resize: vertical; }

#image_load_skins {
    width: 294px;
    height: 272px;
}

#image_load_informations_home {
    width: 180px;
    height: 217px;
}

#image_load_informations_preview {
    width: 370px;
    height: 199px;
}

#image_load_team1, #image_load_team2, #image_load_team3 {
    width: 340px;
    height: 256px;
}

#image_load_press {
    width: 262px;
    height: 343px;
}

#image_load_background_slide {
    width: 870px;
    height: 211px;
}

#image_load_product {
    width: 570px;
    height: 505px;
}

#image_load_banner {
    width: 870px;
    height: 277px;
}

/* -------------------------------------------------------------------------  */

.main-header .logo .logo-mini {
    background: url(../img/logo-50x50.png) no-repeat center center;
    width: 50px;
    height: 50px;
}

.main-header .logo .logo-lg {
    background: url(../img/logo-200x50.png) no-repeat center center;
    width: 200px;
    height: 50px;
    background-size: 200px;
}
.skin-green .main-header .logo:hover{
    background-color: #1e20f9;

}
.skin-green .main-header .logo{
    background-color: rgb(255, 255, 255);
}

.skin-green .main-header .navbar{
    background-color: #1612f9;
}

.skin-green .sidebar-menu>li:hover>a, .skin-green .sidebar-menu>li.active>a{
    border-color: #018ec8;
}

.sidebar-menu .menu-icon {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 14px;
    top: 16px;
}

html, body, iframe {
    height: 100%;
}

#redis-frame, #supervisor-frame {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.margin-button {
    margin-top: 25px;
}

#recaptcha2-login {
    -moz-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -o-transform: scale(1.06);
    -moz-transform-origin: 0;
    -ms-transform-origin: 0;
    -o-transform-origin: 0;
    -webkit-transform: scale(1.06);
    transform: scale(1.06);
    -webkit-transform-origin: 0 0;
    transform-origin: 0;
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.1, M12=0, M21=0, M22=1.1, SizingMethod='auto expand');
    overflow: hidden;
    padding-bottom: 10px;
}

/**** Слайдеры **************/

.slider-padding {
    padding: 0 10px 0 10px;

}

/*-----------------------------*/

#swarm-table_filter, #bee-table_filter, #balances_filter, #bee-history-table_filter {
    display: none;
}

#last_update_orders {
    font-size: 14px;
    display: inline-block;
    font-weight: 300;
    position: absolute;
    right: 0px;
    top: 0;
}

#spread {
    position: relative;
}

.percent-block {
    position: relative;
    margin-top: -15px;
}

.percent-period1 {
    position: absolute;
    right: 170px;
}

.percent-period2 {
    position: absolute;
    right: 99px;
}

.percent-period3 {
    position: absolute;
    right: 45px;
}

.percent-period4 {
    position: absolute;
    right: 0px;
}

.market-info-block {
    height: 30px;
}

#pair-name {
    float: right;
    color: #5e5e5e;
    font-size: 18px;
    margin-right: 10px;
}

#pair-name span {
    color: #0aadef;
    font-size: 20px;
    text-transform: uppercase;
}

#high-trade-24 {
    float: right;
    color: #5e5e5e;
    font-size: 14px;
    margin-right: 10px;
}

#high-trade-24 span {
    color: #25b02b;
    font-size: 18px;
}

#low-trade-24 {
    float: right;
    color: #5e5e5e;
    font-size: 14px;
    margin-right: 10px;
}

#low-trade-24 span {
    color: #f00;
    font-size: 18px;
}

#change-percent-24 {
    float: right;
    color: #5e5e5e;
    font-size: 14px;
    margin-right: 10px;
}

#change-percent-24 span {
    color: #0aadef;;
    font-size: 18px;
}

#base-volume-24 {
    float: right;
    color: #5e5e5e;
    font-size: 14px;
    margin-right: 10px;
}

#base-volume-24 span {
    color: #5e5e5e;
    font-size: 18px;
}

#quote-volume-24 {
    float: right;
    color: #5e5e5e;
    font-size: 14px;
}

#quote-volume-24 span {
    color: #5e5e5e;
    font-size: 18px;
}

.pair-info-block {
    position: relative;
    height: 20px;
    top: 35px;
}

#decimal-places {
    float: right;
    color: #5e5e5e;
    font-size: 12px;
    margin-right: 10px;
}

#decimal-places span {
    color: #0aadef;;
    font-size: 14px;
}

#min-price {
    float: right;
    color: #5e5e5e;
    font-size: 12px;
    margin-right: 10px;
}

#min-price span {
    color: #0aadef;;
    font-size: 14px;
}

#max-price {
    float: right;
    color: #5e5e5e;
    font-size: 12px;
    margin-right: 10px;
}

#max-price span {
    color: #0aadef;;
    font-size: 14px;
}

#min-amount {
    float: right;
    color: #5e5e5e;
    font-size: 12px;
    margin-right: 10px;
}

#min-amount span {
    color: #0aadef;;
    font-size: 14px;
}

#fee {
    float: right;
    color: #5e5e5e;
    font-size: 12px;
    margin-right: 10px;
}

#fee span {
    color: #0aadef;;
    font-size: 14px;
}

#last-update-base-info {
    float: right;
    color: #5e5e5e;
    font-size: 12px;
}

input:read-only {
    opacity: 0.3; /* Полупрозрачность */
    font-size: 22px;
}

.last_update_outdated {
    background-color: #dd4b39 !important;
    color: #fff !important;
    padding: 0 5px 0 5px;
}

.color-block {
    border: 1px red solid;
}

#table-sell-glass td, #table-buy-glass td, #min-amount {
    cursor: pointer;
}

.trade-panel-group {
    margin-bottom: 5px !important;
}

#table-my-orders td[name="price"] {
    cursor: pointer;
}

#table-my-trade-history td[name="no-profit-price"] {
    cursor: pointer;
}

#table-my-trade-history td[name="profit-price"] {
    cursor: pointer;
}

#table-my-trade-history td[name="price"] {
    cursor: pointer;
}

.sum-analitics-block {
    float: right;
}

#sell-sum-quantity, #buy-sum-quantity {
    float: right;
    color: #5e5e5e;
    font-size: 14px;
    margin-right: 10px;
    clear: both;
}

#sell-sum-quantity span span {
    color: #f00;
    font-size: 18px;
}

#buy-sum-quantity span span {
    color: #25b02b;
    font-size: 18px;
}

#sell-sum-total, #buy-sum-total {
    float: right;
    color: #5e5e5e;
    font-size: 14px;
    margin-right: 10px;
    clear: both;
}

#sell-sum-total span span {
    color: #f00;
    font-size: 18px;
}

#buy-sum-total span span {
    color: #25b02b;
    font-size: 18px;
}

#sell-avg-price, #buy-avg-price {
    float: right;
    color: #5e5e5e;
    font-size: 14px;
    margin-right: 10px;
    clear: both;
}

#sell-avg-price span span, #buy-avg-price span span {
    color: #0aadef;
    font-size: 18px;
}

#profit-total, #sum-quantity, #min-sell-price, #profit-sell-price, #profit-buy-price {
    float: right;
    color: #5e5e5e;
    font-size: 14px;
    margin-right: 10px;
    clear: both;
}

#profit-total span span, #sum-quantity span span, #min-sell-price span span, #profit-sell-price span span, #profit-buy-price span span {
    font-size: 18px;
}

.text-red {
    color: #f00;
}

.text-green {
    color: #25b02b;
}

.text-blue {
    color: #0aadef;
}

#calc-profit-buy, #calc-profit-sell {
    float: left;
    color: #848484;
    font-size: 11px;
    width: 200px;
    height: 40px;
    margin: 0;
    /* border: red 1px solid;*/
}

#calc-profit-buy span, #calc-profit-sell span {
    color: #0aadef;
    font-size: 14px;
    /*cursor: pointer;*/
}

#trade-chart-view {
    height: 453px;
    margin-bottom: 15px;
}

.shake {
    -webkit-animation-name: shake;
    animation-name: shake;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes shake {
    from,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

